* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.container {
  /* border: 2px solid red; */
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 0.5fr 0.3fr 3fr 2fr 200px 1fr;
  grid-template-areas:
    "navl navl navr"
    "line line line"
    "picture inhalt1 inhalt1"
    "posts checkout-container checkout-container"
    "galerie galerie related"
    "footer footer footer";
}

.item {
  display: flex;
  /* background-color: aquamarine; */
  border: 0px solid green;
  margin: 10px;
}
/*ITEMS mit Klassen*/
.navl {
  grid-area: navl;
  justify-content: start;
  align-items: center;
  list-style: none;
  padding: 5px 40px 5px 0px;
 
  /* margin: 30px; */
}

.navr {
  grid-area: navr;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.picture {
  grid-area: picture;
  background-size: contain;
  background-color: yellow;
}

.inhalt1 {
  grid-area: inhalt1;
  display: block;
  /* padding: 10px;
  background-color: beige; */
}

.inhalt1 p {
  margin-top: 20px; /* Abstand über dem Absatz */
  margin-bottom: 20px; /* Abstand unter dem Absatz */
}

.posts {
  grid-area: posts;
  display: flex;
  flex-direction: column;
  border-top: 4px solid#C491BA;
  background-color: #ebd2d6;
}

.checkout-container {
  grid-area: checkout-container;
  display: flex;
  justify-content: space-between;
  border: 1px solid #CDCDCD;
  padding: 10px;
}

.checkout-g,
.checkout-f {
  flex: 1;
  padding: 10px;
}

.checkout-g {
  display: flex;  
  flex-direction: column; /* Anordnung der Kinder-Elemente in einer Spalte */
  justify-content: center; /* Vertikale Zentrierung */
  align-items: flex-start; /* Horizontale Ausrichtung nach links */
  padding: 10px;
  
}

.checkout-f {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
  
}

.galerie {
  grid-area: galerie;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* Flexibles Raster für die Bilder */
  gap: 10px; /* Abstand zwischen den Bildern */
  padding: 10px; /* Innenabstand für die Galerie */
}

.galerie img {
  width: 100%;
  height: auto;
  display: block;
}

.related {
  grid-area: related;
  flex-direction: column;
}

.footer {
  grid-area: footer;

  color: white;
  background-color: darkgray;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  padding: 10px 30px;
  background-color: rgb(117, 170, 29);
  border-radius: 12px;
  width: 400px;
  box-shadow: 3px 3px 10px #0f0f0f;
  color: white;
}

.btn2 {
  width: 50px;
  height: 25px;
  cursor: pointer;
  border: 0px;
  background-color: rgb(226, 220, 220);
  box-shadow: 0px 0px 10px #67a6aa;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  margin-right: 2em;
  margin-left: 10px;
}

.navl li{
  background-color: rgb(196, 145, 186, 0.2);
}


h1 {
  color: #67a6aa;
}
h4 {
  padding: 10px;
  font-weight: 100;
}

.galerie p {
  display: block;
}

.galerie img {
  padding: 10px;
}

.big {
  font-weight: bold;
  padding-bottom: 5px;
}

.related li {
  list-style: disc;
}

hr {
  color: rgb(220, 220, 245);
  margin-bottom: 5px;
}

.horizontale-line {
  grid-area: line;
  display: block;
  
}
