* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.container {
  border: 2px solid red;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 0.5fr 3fr 2fr 1fr 1fr;
  grid-template-areas:
    "navl navl navr"
    "picture inhalt1 inhalt1"
    "posts checkout-g checkout-f"
    "galerie galerie related"
    "footer footer footer";
}

.item {
  display: flex;
  background-color: aquamarine;
  border: 1px solid green;
  margin: 10px;
}
/*ITEMS mit Klassen*/
.navl {
  grid-area: navl;
  background-color: bisque;
  justify-content: start;
  align-items: center;
  padding: 5px 40px 5px 0px;
  /* margin: 30px; */
}

.navr {
  grid-area: navr;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.picture {
  grid-area: picture;
  background-size: contain;
  background-color: yellow;
}

.inhalt1 {
  grid-area: inhalt1;
  display: block;
  padding: 10px;
  background-color: beige;
}

.posts {
  grid-area: posts;
  display: block;
}

.checkout-g {
  grid-area: checkout-g;
  background-color: beige;
  flex-direction: column;
}

.checkout-f {
  grid-area: checkout-f;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
  padding-right:10px;
  background-color: orange;
  
}

.galerie {
  grid-area: galerie;
}

.related {
  grid-area: related;
}

.footer {
  grid-area: footer;
  background-color: darkgray;
}

.btn {
  padding: 0.4em;
  background-color: rgb(117, 170, 29);
  border-radius: 15px;
  box-shadow: 10px gray;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  background-color: rgb(127, 35, 212, 0.2);
  padding-right: 2em;
  padding-left: 10px;
}

h1{
  color:#67A6AA;
}
h4{
  padding: 10px;
}
